article {
    margin-left: 6%;
    margin-right: 6%;
    box-sizing: border-box;
    width: 88%;
}
article > h2 {
    width:100%;
    padding: 0 2%;
    font-weight: bolder;
    font-size: 3em;
}
article > section > p {
    width:100%;
    padding: 0 2%;
    font-size: 1.5em;
}
article > section.images-gallery {
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    justify-content: space-around;
}
article > section.images-gallery > img {
    max-height: 50vh;
    margin: 1%;
    padding: 0;
    transition: opacity 1s;
    border-radius:1%;
    border-style: solid;
    border-color:var(--color-border-image);
}
article > section.images-gallery > img:hover {
    opacity: 0.5;
}

@media (max-width: 300px) {
    article {
        margin-left: 1%;
        margin-right:1%;
        width: 98%;
    }
    article > section.images-gallery > img {
        margin: 5%;
        padding: 0;
        border-radius:5%;
    }
}
@media (min-width: 300.0001px) and (max-width: 500px) {
    article {
        margin-left: 1%;
        margin-right:1%;
        width: 98%;
    }
    article > section.images-gallery > img {
        margin: 3%;
        padding: 0;
        border-radius:3%;
    }
}
@media (min-width: 500.0001px) and (max-width: 700px) {
    article {
        margin-left: 1%;
        margin-right:1%;
        width: 98%;
    }
    article > section.images-gallery > img {
        margin: 2%;
        padding: 0;
        border-radius:2%;
    }
}
@media (min-width: 700.0001px) and (max-width: 1200px) {
    article {
        margin-left: 3%;
        margin-right:3%;
        width: 94%;
    }
}