$red: #ff5555;
$green: #50fa7b;
$orange: #ffb86c;
$yellow: #f1fa8c;
$background: #282a36;
$font:#f8f8f2;
$button-background:#44475a;
$todo-background: mix($orange,$background,20%);
$todo-background-hover: mix($orange,$background,50%);
$font-family: 'Roboto', sans-serif;
